ul {
  list-style: none outside none;
}

li {
  position: relative;
  display: inline;
  margin: 20px;
}

.blog-min-read {
  text-align: left;

  font-size: 12px;
}

.blog-header {
  margin-left: 30%;
  color: #002f6c;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}
a {
  color: #002f6c;
  text-decoration: none;
}
.blog-date {
  text-align: right;
  color: #000a12;
  margin: 10px 25px 25px 25px;
  font-family: "Montserrat", sans-serif;
}
